.inner-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    @media only screen and (min-width: 320px) {
      padding-left: 15px;
      padding-right: 15px; 
    }
    @media only screen and (min-width: 400px) {
      padding-left: 40px;
      padding-right: 40px; 
    }
    @media only screen and (min-width: 680px) {
      font-size: 75px;
    }
    @media only screen and (min-width: 950px) {
      font-size: 100px;
    }
  }

.p1 {
    display: inline-block;
    font-size: 1em;
    font-weight: 900;
    marign: 0;
    line-height: 1;
    @media only screen and (max-width: 465px) {
      display: block;
      position: absolute;
      top: -25%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  
  .p2 {
    display: inline-block;
    font-size: 1em;
    font-weight: 100;
    marign: 0;
    line-height: 1;
    color: #4FC3F7;
    @media only screen and (max-width: 465px) {
      position: relative;
      top: 0.6em;
    }
  }