@font-face {
    font-family: bene;
    src: url(../assests/fonts/Orlande.otf);
}

/* @font-face {
    font-family: ray;
    src: url(../assests/fonts/Superme-GOx4A.ttf);
} */

.logo {
    font-family: bene;
}

.menu {
    font-weight: light;
}