@font-face {
    font-family: king;
    src: url(../assests/fonts/Benetti\ Grotesk\ Free.otf);
}

@font-face {
    font-family: ray;
    src: url(../assests/fonts/Superme-GOx4A.ttf);
}

.logo {
    font-family: king;
}

.menu {
    font-weight: light;
}